@import './footer.scss';
@import './body.scss';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Segoe UI Emoji';
}

::selection {
  color: grey;
  background: #212121;
}
